# Ignore node_modules in all directories
**/node_modules

**/.git

# Ignore build outputs in client
**/dist

# Ignore IDE config files
**/.idea

# Ignore environment variable files
**/.env

# Ignore environment variable files
**/.turbo